.filmes-page {
    padding: 20px;
    background-color: #01020c;
    color: #eeeeee;
    min-height: 100vh;
}

.filmes-container {
    padding: 2rem 0;
}

.filmes-container h1 {
    text-align: center;
    margin-bottom: 2rem;
}